
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  background-color: aqua;
}

li {
  list-style: none;
}

.navbar {
  height: 2rem;
  top: 0;
  margin-top: 0;
  background-color: violet;
}

#first-level-nav {
  display: flex;
  align-content: space-between;
  align-self: center;
  align-items: center;
}




.weather-info {
  margin-left: 5%;
  width: 25vw;
  outline: 0.5px black solid;
}

.current-temp {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.bold {
  font-weight: bold;
}

.weather-items {
  display: grid;
  grid-template-columns: auto auto;
}

.pressure img {
  width: 1rem;
}